.app-link__container {
  border: 2px solid lightblue;
  border-radius: 4px;
  padding: 1em;
  text-decoration: none;
  color: inherit;
  margin: 1em;
}
.app-link__title {
  font-weight: 500;
  margin: 0.5em 0;
}
