.search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}
.search-title {
  font-weight: 600;
  margin-bottom: 1em;
}
.search {
  color: inherit;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: lighten(#282c34, 10%);
  padding: 1em;
  max-width: 320px;
  width: 100%;
  border: none;
}
